::-webkit-scrollbar {
    border-radius: 4rem; 
    width: 10px;
    background-color: asd; 
}

::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-color: gray;
    border: 3px solid transparent;
    background-clip: content-box;
}